#site-icon {
    max-height: 100px;
    width: 50%;
    transition: all 0.25s ease-in-out;
    /* original */
    /* aspect-ratio: 2.577 / 1; */
    height: 100%;
}

#site-icon:hover {
    transform: scaleX(1.1) translateX(5%);
    /* width: 60%; */
    /* maintain height */
    /* aspect-ratio: 3.7066 / 1; */
}

.ov-bullet-pad-left {
    padding-left: 40px;
}


.my-image-class-pls-work {
    width: 9vw;
    min-width: 75px;
}

#chart-wrapper {
    width: 100%;
    height: 70vh !important;
}

#chart-with-text {
    margin: 2em auto;
    width: 70%;
    text-align: center;
}



@media (min-width: 1400px) {
    .lg-bp-3-columns>* {
        flex: 0 0 auto;
        width: 33.33%
    }
}