#site-icon {
    max-height: 100px;
    width: auto;
}

.ov-bullet-pad-left {
    padding-left: 40px;
}


.my-image-class-pls-work {
    width: 9vw;
    min-width: 75px;
}

@media (min-width: 1400px) {
    .lg-bp-3-columns>* {
        flex: 0 0 auto;
        width: 33.33%
    }
}